@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  /* Print Optimization */
  @media print {
    @page {
      size: A4 portrait;
      margin: 1.2cm;
    }

    body {
      background-color: #ffffff !important;
      color: #000000 !important;
      font-size: 11pt;
    }

    header, footer, aside, .no-print, button {
      display: none !important;
    }

    .print-only {
      display: block !important;
    }

    table {
      page-break-inside: auto;
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }

    thead {
      display: table-header-group;
    }

    tfoot {
      display: table-footer-group;
    }
  }

  @keyframes bounceSubtle {
    0%, 100% {
      transform: translateY(-2%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-subtle {
    animation: bounceSubtle 1.5s infinite;
  }
}

